[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
django = "*"
mysqlclient = "==1.4.2.post1"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python manage.py runserver"
