{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0;">
<a href="{% url 'rehearsal:rhsl_top' prod_id=prod_id %}">◀</a>
メンバ一覧
</h1>
{% if view.prod_user.is_owner %}
<div align="right"><a href="{% url 'production:invt_create' prod_id=prod_id %}" class="addlink">招待する</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

{% if view.prod_user.is_owner and view.invitation %}
<div style="border:solid thin lightgray; border-radius:10px; padding: 10px; margin:5px 0 20px;">
<p><strong>招待中のユーザ</strong></p>
<table>
    <tr>
        <th>ユーザ名</th>
        <th>姓</th>
        <th>名</th>
        <th>招待の期限</th>
    </tr>
    {% for item in view.invitation %}
    <tr>
        <td>{{ item.invitee.username }}</td>
        <td>{{ item.invitee.last_name }}</td>
        <td>{{ item.invitee.first_name }}</td>
        <td>{{ item.exp_dt }}</td>
        <td><a href="{% url 'production:invt_delete' pk=item.id %}" class="deletelink">削除</a></td>
    </tr>
{% endfor %}
</table>
<!-- div style="margin:20px 0 20px;"><hr /></div -->
</div>
{% endif %}

<table>
    <tr>
        <th>ユーザ</th>
        <th>所有権</th>
        <th>編集権</th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.is_owner }}</td>
        <td>{{ item.is_editor }}</td>
        {% if view.prod_user.is_owner %}
        <td>
            <a href="{% url 'production:usr_update' pk=item.id %}" class="changelink">編集</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
