{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0px;">
{% if object %}
<a href="{% url 'rehearsal:actr_detail' pk=object.id %}">◀</a>
役者の編集
{% else %}
役者の追加
{% endif %}
</h1>

{% if object %}
<div align="right"><a href="{% url 'rehearsal:actr_delete' pk=object.id %}" class="deletelink">削除</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <table>
        <tr><th><label>公演:</label></th><td>{{ view.production }}</td></tr>
        {{ form }}
    </table>
    {% if object %}
    <input type="submit" value="更新">
    {% else %}
    <input type="submit" value="追加">
    {% endif %}
</form>
{% endblock %}
