{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'rehearsal:actr_list' prod_id=object.production.id %}">◀</a>
役者の詳細
</h1>

{% if view.prod_user.is_owner or view.prod_user.is_editor %}
<div align="right"><a href="{% url 'rehearsal:actr_update' pk=object.id %}" class="changelink">編集</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<table>
    <tr><th>公演</th><td>{{ object.production }}</td></tr>
    <tr><th>名前</th><td>{{ object.name }}</td></tr>
    <tr><th>短縮名</th><td>{{ object.short_name }}</td></tr>
</table>

<div style="margin-top: 20px;">
<div style="font-weight: bold;">参加時間</div>
</div>

<table>
{% for atnd in atnds %}
<tr style="background-color:azure;">
<td>{{ atnd.rhsl }}</td><td>{{ atnd.rhsl.start_time}}-{{ atnd.rhsl.end_time}}</td>
{% if view.prod_user.is_owner or view.prod_user.is_editor %}
<td>
<a href="{% url 'rehearsal:atnd_create' actr_id=object.id rhsl_id=atnd.rhsl.id from='actr' %}"
    class="addlink">追加</a>
</td>
{% endif %}
</tr>
{% for slot in atnd.slots %}
    <tr>
    {% if slot.is_absent %}
        <td align="right">🞩</td><td>欠席</td>
    {% else %}
        {% if slot.is_allday %}
        <td align="right">○</td><td>全日</td>
        {% else %}
        <td align="right">参加</td><td>{{ slot.from_time }}-{{ slot.to_time }}</td>
        {% endif %}
    {% endif %}
    {% if view.prod_user.is_owner or view.prod_user.is_editor %}
        <td>
        <a href="{% url 'rehearsal:atnd_update' pk=slot.id from='actr' %}"
            class="changelink">編集</a>
        </td>
    {% endif %}
    </tr>
{% endfor %}
{% endfor %}
</table>

{% endblock %}
