{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'rehearsal:rhsl_top' prod_id=prod_id %}">◀</a>
役者一覧
</h1>

{% if view.prod_user.is_owner or view.prod_user.is_editor %}
<div align="right"><a href="{% url 'rehearsal:actr_create' prod_id=prod_id %}" class="addlink">追加</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<table>
    <tr>
        <th>名前</th>
        <th>短縮名</th>
        <th>アカウント</th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>
            <a href="{% url 'rehearsal:actr_detail' pk=item.id %}">
            {{ item.name }}</a>
        </td>
        <td>{{ item.short_name }}</td>
        <td>{{ item.prod_user }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
