{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="margin: 0;">
<a href="{% url 'rehearsal:rhsl_top' prod_id=prod_id %}">◀</a>
出欠表
</h1>

<p>
シーン <select id="scene_menu"></select>
<input type="button" value="適用" onClick="draw();">
<input type="button" value="リセット" onClick="init(); draw();">
</p>

<div class="table-scroll-host" style="outline:1px solid #eee; max-width:100%; max-height:600px;">
<table style="border:0;">
<thead id="t_header" style="border:0;"></thead>
<tbody id="t_data" style="border:0;"></tbody>
</table>
</div>
{% endblock %}

{% block head%}
<style>
/* Table Scroll */
.table-scroll-host { overflow:scroll; }
table th { position:sticky; top:0; }
table th:nth-child(1) { position:sticky; left:0; z-index:2; }
table td:nth-child(1) { position:sticky; left:0; z-index:1; }

/* Cells */
.top_left_cell{ min-width:50px; max-width:70px; padding:2px 3px;
    border:0; outline:1px solid #eee; }
.header_cell{ line-height: 1.1; min-width:90px; max-width:90px; padding:2px 3px;
    border:0; outline:1px solid #eee; }
.name_cell{ padding:2px 3px; vertical-align:middle; border:0; outline:1px solid #eee; }
.data_cell{ text-align:center; vertical-align:middle; line-height:1.1; word-break:break-all;
    padding:2px 3px; border:1px solid #eee; }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/attendance_table.js' %}"></script>

<script>
var dowChars = '日月火水木金土';

// View からもらうデータ
// 稽古のリスト
rhsls = JSON.parse('{{ rhsls|safe }}');
// 役者のリスト
actrs = JSON.parse('{{ actrs|safe }}');
// 役者ごとの出欠の、稽古のリストに対応するリスト
actr_atnds = JSON.parse('{{ actr_atnds|safe }}');
// 登場人物のリスト
chrs = JSON.parse('{{ chrs|safe }}');
// シーン名のリスト
scenes = JSON.parse('{{ scenes|safe }}');
// シーンごとの登場人物とセリフ数のリスト
scenes_chr_apprs = JSON.parse('{{ scenes_chr_apprs|safe }}');

init_scene_menu();
init();
draw();
</script>
{% endblock %}
