{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'rehearsal:chr_list' prod_id=object.production.id %}">◀</a>
登場人物の詳細
</h1>

{% if view.prod_user.is_owner or view.prod_user.is_editor %}
<div align="right"><a href="{% url 'rehearsal:chr_update' pk=object.id %}" class="changelink">編集</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<table>
    <tr><th>公演</th><td>{{ object.production }}</td></tr>
    <tr><th>役名</th><td>{{ object.name }}</td></tr>
    <tr><th>短縮名</th><td>{{ object.short_name }}</td></tr>
    <tr><th>順番</th><td>{{ object.sortkey }}</td></tr>
    <tr><th>配役</th><td>{{ object.cast }}</td></tr>
</table>

<div class="sectionheader headline">出番</div>
<div align="right">
    {% if view.prod_user.is_owner or view.prod_user.is_editor %}
    <a href="{% url 'rehearsal:chr_appr_create' chr_id=object.id %}" class="addlink">追加</a>
    {% endif %}
</div>

<table style="clear: both;">
    <tr><th>シーン</th><th>セリフ数</th></tr>
    {% for appr in apprs %}
    <tr>
    <td>{{ appr.scene }}</td><td>
    {% if appr.lines_auto %}自動{% else %}{{ appr.lines_num }}{% endif %}
    </td>
    {% if view.prod_user.is_owner or view.prod_user.is_editor %}
    <td>
        <a href="{% url 'rehearsal:appr_update' pk=appr.id from='chr' %}" class="changelink">編集</a>
    </td>
    {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
