{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0;">
<a href="{% url 'rehearsal:rhsl_top' prod_id=prod_id %}">◀</a>
登場人物一覧
</h1>

{% if view.prod_user.is_owner or view.prod_user.is_editor %}
<div align="right"><a href="{% url 'rehearsal:chr_create' prod_id=prod_id %}" class="addlink">追加</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<table>
    <tr>
        <th>順番</th>
        <th>役名</th>
        <th>短縮名</th>
        <th>配役</th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{ item.sortkey }}</td>
        <td>
            <a href="{% url 'rehearsal:chr_detail' pk=item.id %}">
            {{ item.name }}</a>
        </td>
        <td>{{ item.short_name }}</td>
        <td>{{ item.cast }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
