{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'rehearsal:rhsl_detail' pk=object.id %}">◀</a>
稽古の削除
</h1>

<form method="post">{% csrf_token %}
    <p>この稽古を削除しますか？</p>
    <input type="submit" value="削除する">
    <input type="button" onclick="location.href='{% url 'rehearsal:rhsl_list' prod_id=object.production.id %}'" value="キャンセル">
</form>

<table>
    <tr><th>公演</th><td>{{ object.production }}</td></tr>
    <tr><th>日付</th><td>{{ object.date }}</td></tr>
    <tr><th>場所</th><td>{{ object.place }}</td></tr>
    <tr><th>時間</th><td>{{ object.start_time }} - {{ object.end_time }}</td></tr>
    <tr><th>メモ</th><td>{{ object.note }}</td></tr>
</table>
{% endblock %}
