{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0;">
<a href="{% url 'rehearsal:rhsl_top' prod_id=prod_id %}">◀</a>
シーン一覧
</h1>

{% if view.prod_user.is_owner or view.prod_user.is_editor %}
<div align="right"><a href="{% url 'rehearsal:scn_create' prod_id=prod_id %}" class="addlink">追加</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<p>
<input id="chk_note" type="checkbox" onchange="show_note();"> メモ
<input id="chk_appr_chrs" type="checkbox" onchange="show_appr_chrs();"> 出番
</p>

<div id="scenes">
<table>
<thead>
    <tr>
        <th class="sort" data-sort="sortkey">順番</th>
        <th>シーン名</th>
        <th class="sort" data-sort="progress">完成度</th>
        <th class="sort" data-sort="priority">優先度</th>
        <th>説明</th>
        <th class="note" style="display:none;">メモ</th>
        <th class="appr_chrs" style="display:none;">出番</th>
    </tr>
</thead>
<tbody class="list">
    {% for item in object_list %}
    <tr>
        <td class="sortkey">{{ item.sortkey }}</td>
        <td>
            <a href="{% url 'rehearsal:scn_detail' pk=item.id %}">
            {{ item.name }}</a>
        </td>
        <td class="progress">{{ item.progress }}</td>
        <td class="priority">{{ item.get_priority_display }}</td>
        <td>{{ item.description }}</td>
        <td class="note" style="display:none;">{{ item.note }}</td>
        <td class="appr_chrs" style="display:none;">{{ item.appr_chrs }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}


{% block head %}
<style>
.sort {
    color: #447e9b;
    cursor: pointer;
}
.sort.desc:after {
    content:"▼";
}
.sort.asc:after {
    content:"▲";
}
</style>
{% endblock %}


{% block javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
var options = {
  valueNames: [ 'sortkey', 'progress', 'priority' ]
};
var userList = new List('scenes', options);

// メモを表示/非表示する
function show_note() {
    var elements = document.getElementsByClassName("note");
    for (i = 0; i < elements.length; i++){
        if (document.getElementById("chk_note").checked)
            elements[i].style.display = "table-cell";
        else
            elements[i].style.display = "none";
    }
}

// 出番を表示/非表示する
function show_appr_chrs() {
    var elements = document.getElementsByClassName("appr_chrs");
    for (i = 0; i < elements.length; i++){
        if (document.getElementById("chk_appr_chrs").checked)
            elements[i].style.display = "table-cell";
        else
            elements[i].style.display = "none";
    }
}
</script>
{% endblock %}