{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'rehearsal:scn_list' prod_id=object.production.id %}">◀</a>
シーンの詳細
</h1>

{% if view.prod_user.is_owner or view.prod_user.is_editor %}
<div align="right"><a href="{% url 'rehearsal:scn_update' pk=object.id %}" class="changelink">編集</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<table>
    <tr><th>公演</th><td>{{ object.production }}</td></tr>
    <tr><th>シーン名</th><td>{{ object.name }}</td></tr>
    <tr><th>順番</th><td>{{ object.sortkey }}</td></tr>
    <tr><th>説明</th><td>{{ object.description }}</td></tr>
    <tr><th>長さ</th><td>{{ object.length }}</td></tr>
    <tr><th>長さは適当</th><td>{{ object.length_auto }}</td></tr>
    <tr><th>完成度</th><td>{{ object.progress }}</td></tr>
    <tr><th>優先度</th><td>{{ object.get_priority_display }}</td></tr>
    <tr><th>メモ</th><td>{{ object.note | urlize | linebreaksbr }}</td></tr>
</table>

<details>
<summary class="sectionheader headline">出番</summary>
<div align="right">
    {% if view.prod_user.is_owner or view.prod_user.is_editor %}
    <a href="{% url 'rehearsal:scn_appr_create' scn_id=object.id %}" class="addlink">追加</a>
    {% endif %}
</div>

<table style="clear: both;">
    <tr><th>登場人物</th><th>セリフ数</th></tr>
    {% for appr in apprs%}
    <tr>
    <td>{{ appr.character }}</td><td>
    {% if appr.lines_auto %}自動{% else %}{{ appr.lines_num }}{% endif %}
    </td>
    {% if view.prod_user.is_owner or view.prod_user.is_editor %}
    <td>
        <a href="{% url 'rehearsal:appr_update' pk=appr.id from='scn' %}" class="changelink">編集</a>
    </td>
    {% endif %}
    </tr>
    {% endfor %}
</table>
</details>

<div class="sectionheader headline">コメント</div>
<div align="right">
    <a href="{% url 'rehearsal:scn_cmt_create' scn_id=object.id %}" class="addlink">追加</a>
</div>

<table style="clear: both;">
    {% for cmt in cmts%}
    <tr>
    <td style="color: lightslategray;">{{ cmt.mod_prod_user.user }} {{ cmt.modify_dt|date:"Y年m月d日(D) H:i:s" }}</td>
    <td align="right">
    {% if view.prod_user.is_owner or view.prod_user.is_editor or view.prod_user == cmt.mod_prod_user %}
        <a href="{% url 'rehearsal:scn_cmt_update' pk=cmt.id %}" class="changelink">編集</a>
        <a href="{% url 'rehearsal:scn_cmt_delete' pk=cmt.id %}" class="deletelink">削除</a>
    {% endif %}
    </td></tr>
    <tr><td colspan="2" width="500" style="padding-bottom: 20px;">
        {{ cmt.comment | urlize | linebreaksbr }}
    </td></tr>
    {% endfor %}
</table>

{% endblock %}
